<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="annotationTest" class="com.jin.spring.lesson05.AnnotationTest"> </bean>
	<bean id="annotationTest2" class="com.jin.spring.lesson05.AnnotationTest2"> </bean>
	
	<context:annotation-config/>
	
	
</beans>